<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--  <ion-header collapse="condense">-->
  <!--    <ion-toolbar>-->
  <!--      <ion-title size="large">Projet Pokemon</ion-title>-->
  <!--    </ion-toolbar>-->
  <!--  </ion-header>-->
  <div class="px-4">

    <h1 class="text-4xl font-bold mt-8 mb-4">Projet Jeu Vidéo RPG</h1>
    <p class="text-lg leading-7">
      Bienvenue dans notre projet de jeu vidéo RPG en monde ouvert, inspiré de l'univers des Pokémon. Ce jeu offre une expérience immersive où les joueurs peuvent explorer, capturer et entraîner des créatures fantastiques, tout en engageant des combats stratégiques et en quêtant des badges d'arène.
    </p>

    <h2 class="text-4xl font-semibold mt-6 mb-3">Concept et Fonctionnalités de Base</h2>
    <p class="text-lg leading-7">
      Le jeu se caractérise par une carte vaste et variée, un système de combat dynamique et un Pokédex complet. Les joueurs peuvent explorer différents environnements, interagir avec divers personnages, et relever de nombreux défis.
    </p>

    <h2 class="text-4xl font-semibold mt-6 mb-3">Développement Technique et Innovations</h2>
    <p class="text-lg leading-7">
      Notre équipe a travaillé sur le développement en Unity, en intégrant une base de données MySQL robuste et en créant un site web pour l'inscription des joueurs. Une API spécialement conçue permet la synchronisation des progrès des joueurs avec la base de données.
    </p>

    <h2 class="text-4xl font-semibold mt-5 mb-2">Changements et Adaptabilité</h2>
    <p class="text-lg leading-7">
      Face aux défis techniques, nous avons apporté des ajustements significatifs pour optimiser les performances, améliorer la gestion de la mémoire, et résoudre les problèmes d'audio. Notre flexibilité nous a permis d'intégrer des améliorations continues, y compris l'ajout de nouveaux Pokémon et des fonctionnalités multijoueurs.
    </p>

    <h2 class="text-4xl font-semibold mt-5 mb-2">Rejoignez l'Aventure</h2>
    <p class="text-lg leading-7">
      Inscrivez-vous sur notre site pour télécharger le jeu et commencer votre aventure unique dans le monde des Pokémon. Chaque détail a été pensé pour offrir une expérience de jeu inoubliable.
    </p>
    <a href="tabs/download">Télécharger le jeu</a>
  </div>

</ion-content>
