<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button href="/tabs/accueil" tab="accueil">
      <img alt="accueil logo image" class="w-1/4" src="./assets/icon/home.svg">
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button href="/tabs/pokedex" tab="pokedex">
      <img alt="pokeball logo image" class="w-1/4" src="./assets/Poké_Ball_icon.svg.png">
      <p>Pokedex</p>
    </ion-tab-button>

    <ion-tab-button href="/tabs/connexion" tab="connexion" *ngIf="!isAuth">
      <img alt="connexion logo image" class="w-1/4" src="./assets/icon/person.svg">
      <ion-label>Connexion</ion-label>
    </ion-tab-button>

    <ion-tab-button href="/tabs/private-pokedex" tab="private-pokedex">
      <img alt="image private pokedex" class="w-1/4" src="./assets/icon/private_pokedex.png">
      <ion-label>Private Pokedex</ion-label>
    </ion-tab-button>

    <ion-tab-button href="/tabs/download" tab="download" *ngIf="isAuth">
      <img alt="download image" class="w-1/4" src="./assets/icon/dl.svg">
      <ion-label>Profil et téléchargement</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
