<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Connexion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="w-full h-full flex flex-col justify-center items-center p-5">
    <h1 class="!text-3xl mb-4">Connexion</h1>
    <ion-list>
      <ion-item>
        <ion-input
          [clearInput]="true"
          label="Email"
          labelPlacement="stacked"
          placeholder="Exemple@gmail.com"
          value=""
        >
        </ion-input>
        <ion-input
          [clearInput]="true"
          label="Password"
          labelPlacement="stacked"
          placeholder="*****"
          type="password"
          value="•••••"
        >
        </ion-input>
      </ion-item>
      <p class="ml-4 !text-sm mt-4 justify-end flex mr-4 flex-wrap">Vous n'avez pas encore de compte ? <a (click)="Inscription()" class="text-blue-600 ml-1">Inscrivez-vous ici </a></p>
    </ion-list>
  </div>
</ion-content>
