<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inscription
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="w-full h-full flex flex-col justify-center items-center  p-5">
    <h1 class="!text-3xl mb-4">Inscription</h1>
    <form action=""  #inscriptionForm="ngForm" class="w-full max-w-[700px]" >

      <ion-list class="w-full max-w-[700px]">
        <ion-item>
          <ion-input
            [(ngModel)]="userEmail"
            [clearInput]="true"
            email
            label="Email"
            labelPlacement="stacked"
            placeholder="Exemple@gmail.com"
            required="true" value=""
            name="email"
          >
          </ion-input>

          <p  class="text-rose-500" *ngIf="inscriptionForm.controls['email']?.invalid && inscriptionForm.controls['email']?.touched">Email invalide</p>
        </ion-item>
        <ion-item>
          <ion-input
            [(ngModel)]="userPassword"
            [clearInput]="true"
            label="Mot de passe"
            labelPlacement="stacked"
            placeholder="•••••"
            type="password"
            value=""

            name="password" required minlength="6"
          >
          </ion-input>
          <p class="w-full text-rose-500" *ngIf="inscriptionForm.controls['password']?.invalid && inscriptionForm.controls['password']?.touched">Mot de passe invalide</p>
        </ion-item>
        <ion-item>
          <ion-input
            [(ngModel)]="userAge"
            [clearInput]="true"
            label="Age"
            labelPlacement="stacked"
            placeholder="18"
            type="number"
            value=""
            name="age"
            min="18"
            required
          >
          </ion-input>
          <p  class="text-rose-500" *ngIf="inscriptionForm.controls['age']?.invalid && inscriptionForm.controls['age']?.touched  || (!validateAndCorrectAge() && inscriptionForm.controls['age']?.touched)">
            L'âge doit être un nombre positif et supperieur à 9
          </p>
        </ion-item>
        <ion-item>
          <ion-radio-group [(ngModel)]="userSexe" name="sexe" required>
            <ion-radio class="!text-sm" value="homme">Homme</ion-radio>
            <br/>
            <ion-radio class="!text-sm " value="femme">Femme</ion-radio>
            <br/>
          </ion-radio-group>
        </ion-item>
        <ion-button (click)="inscription()" [disabled]="!inscriptionForm.valid || !validateAndCorrectAge()">Inscription</ion-button>
        <p class="ml-4 !text-sm mt-4 flex-wrap text-rose-500">{{messageErreur}}</p>
        <p class="ml-4 !text-sm mt-4 justify-end flex mr-4 flex-wrap">Vous avez déjà un compte ? <a (click)="connexionNavigate()" class="text-blue-600 ml-1">Connectez-vous ici </a></p>
      </ion-list>
    </form>
  </div>
</ion-content>
