<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pokedex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-none">
  <div class="flex justify-center w-full items-center bg-transparent">
    <div *ngIf="!isCharged" class="p-5 flex flex-wrap">
        <ion-spinner name="circular"></ion-spinner>
    </div>

    <div *ngIf="isCharged" class="p-5 flex flex-wrap">
      <div *ngFor="let pokemon of pokemon; let index = index" class="w-1/2 lg:w-1/3">
        <a (click)="onePokemon(pokemon.id)" class=" flex justify-center mt-2">
          <div class="w-1/2 lg:w-1/3 flex justify-center flex-col items-center">
            <img [ngSrc]="pokemon.image" alt="image du pokemon" loading="lazy" width="200" height="200">
            <p>{{pokemon.nom}}</p>
          </div>
        </a>

      </div>
    </div>

  </div>

</ion-content>
